<mat-card class="cardCampos">

  <div class="container">
    <h1>Cadastrar Localização</h1>
    <form [formGroup]="localizacao">
          <!-- Formulário para adicionar nova localização -->
        <div class="input-group">
          <input type="text" id="bairroInput" formControlName="bairro" placeholder="Digite o bairro">
        </div>
        <div class="input-group">
          <input type="text" id="cidadeInput" formControlName="cidade" placeholder="Digite a cidade">
        </div>
        <div class="input-group">
          <input type="text" id="estadoInput" formControlName="estado" placeholder="Digite o estado">
        </div>
        <button mat-raised-button class="textoInvalido" *ngIf="!localizacao.valid">Cadastrar Localização</button>
        <button mat-raised-button class="textoValido" (click)="inserirLocalizacao()" *ngIf="localizacao.valid">Cadastrar Localização</button>
    </form>

    <!-- Lista de localizações -->
    <ul class="category-list" id="categoryList">
        <!-- As localizações serão listadas aqui -->
    </ul>

  </div>



</mat-card>

<mat-card class="cardCampos">
  <section class="container2" tabindex="0">


    <table mat-table [dataSource]="dados" (scroll)="tableScroll($event)">

      <ng-container matColumnDef="bairro">
        <th mat-header-cell *matHeaderCellDef> BAIRRO </th>
        <td mat-cell *matCellDef="let element">
            {{element.bairro}}
        </td>
      </ng-container>

      <ng-container matColumnDef="cidade">
        <th mat-header-cell *matHeaderCellDef> CIDADE </th>
        <td mat-cell *matCellDef="let element">
            {{element.cidade}}
        </td>
      </ng-container>

      <ng-container matColumnDef="estado">
        <th mat-header-cell *matHeaderCellDef> ESTADO </th>
        <td mat-cell *matCellDef="let element">
            {{element.estado}}
        </td>
      </ng-container>

      <ng-container matColumnDef="alteracao">
        <th mat-header-cell *matHeaderCellDef>  </th>
        <td mat-cell *matCellDef="let element">
            <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu" xPosition="before">
                <button mat-menu-item (click)="editar(element)">
                  <mat-icon class="icone">edit</mat-icon>
                  <span class="textoSelecao">Editar Localização</span>
                </button>
                <button mat-menu-item (click)="remover(element.id_localizacao)">
                  <mat-icon class="icone">delete</mat-icon>
                  <span class="textoSelecao">Excluir Localização</span>
                </button>
              </mat-menu>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="colunasTabela; sticky: true"></tr>
      <tr mat-row *matRowDef="let linhas; columns: colunasTabela;"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell centered-cell" colspan="6">Não há informações</td>
      </tr>

    </table>

  </section>

</mat-card>
