<div class="home-container">
  <div class="profile-section">
    <img src="src/img/avatar.pgn" alt="Perfil do usuário" class="profile-icon">
    <h2>PERFIL</h2>
    <p>"Nome usuário"</p>
  </div>
  
    <div class="actions">
      <button class="action-button">ANUNCIAR</button>
      <button class="action-button">BUSCAR ANÚNCIOS</button>
      <button class="action-button">MENSAGENS</button>
      <button class="action-button">MEUS ANÚNCIOS</button>
    </div>
  
    <div class="logout-section">
      <img src="src/img/logout-icon.png" alt="Logout" class="logout-icon">
    </div>
  </div>
  