<div [style]="carregando">
  <mat-card class="card-container">
    <mat-grid-list cols="12" rowHeight="150px" gutterSize="10px">

      <mat-grid-tile colspan="4" rowspan="2">
        <div class="profile-card">
          <div class="image-container">
            <img [src]="retornaFoto(anunciante.foto_de_perfil)" alt="Foto do usuário" class="profile-image"/>
            <div class="overlay" (click)="editarPerfil(anunciante.id)" *ngIf="!visit">
              <span class="edit-text">Editar perfil</span>
            </div>
          </div>
        </div>
      </mat-grid-tile>

      <mat-grid-tile colspan="8">
        <div class="profile-header-container">
          <h1 class="profile-header">{{anunciante.nome}}</h1>
          <div class="star-rating">
            <mat-icon *ngFor="let star of stars; let i = index">star</mat-icon>&nbsp;&nbsp;<span style="font-size:20px">{{rating}}</span>
          </div>
        </div>
      </mat-grid-tile>

      <mat-grid-tile colspan="8">
        <div style="width: 100%!important;">
          <ul class="profile-info">
            <li>E-mail: {{anunciante.email}}</li>
            <li>Ocupação: {{anunciante.ocupacao}}</li>
            <li>Telefone: {{anunciante.telefone}}</li>
          </ul>
        </div>
      </mat-grid-tile>

    </mat-grid-list>

    <mat-grid-list cols="12" rowHeight="80px" gutterSize="20px">
      <mat-grid-tile colspan="12">
        <h1>{{visit ? 'Anúncios' : 'Meus Anúncios'}}
        </h1>
      </mat-grid-tile>
    </mat-grid-list>

    <!-- Carrossel -->
    <div class="carousel-container">
      <div class="carousel">
        <div class="carousel-item" *ngFor="let item of anuncios; let i = index">
          <mat-card class="example-card" appearance="outlined">
            <mat-card-header style="background-color: black; color: white">
              <div mat-card-avatar class="example-header-image" [ngStyle]="{'background-image': 'url(' + retornaFoto(item.anunciante.foto_de_perfil) + ')'}"></div>
              <mat-card-title style="color: white">{{ item.tipo }}</mat-card-title>
              <mat-card-subtitle style="color: white">{{ item.categoria.nome }}</mat-card-subtitle>
            </mat-card-header>
            <img class="cardAnuncio" mat-card-image [src]="imagemAnuncio(item.foto)" alt="Imagem do anúncio">
            <mat-card-content class="description-content">
              <p>R$ {{item.preco}} - {{item.descricao}}</p>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
      <!-- Setas de Navegação -->
      <button class="carousel-button left" (click)="moveLeft()">&#10094;</button>
      <button class="carousel-button right" (click)="moveRight()">&#10095;</button>
    </div>
    <br><br><br>

    <div *ngIf="!visit">

      <mat-grid-list cols="12" rowHeight="80px" gutterSize="20px">
        <mat-grid-tile colspan="12">
          <h1>Produtos Adquiridos
          </h1>
        </mat-grid-tile>
      </mat-grid-list>


          <!-- Carrossel -->
          <div class="carousel-container">
            <div class="carousel">
              <div class="carousel-item" *ngFor="let item of anunciosComprados; let i = index">
                <mat-card class="example-card" appearance="outlined">
                  <mat-card-header style="background-color: black; color: white">
                    <div mat-card-avatar class="example-header-image" [ngStyle]="{'background-image': 'url(' + retornaFoto(item.anunciante.foto_de_perfil) + ')'}"></div>
                    <mat-card-title style="color: white">{{ item.tipo }}</mat-card-title>
                    <mat-card-subtitle style="color: white">{{ item.categoria.nome }}</mat-card-subtitle>
                  </mat-card-header>
                  <img class="cardAnuncio" mat-card-image [src]="imagemAnuncio(item.foto)" alt="Imagem do anúncio">
                  <mat-card-content class="description-content">
                    <p>R$ {{item.preco}} - {{item.descricao}}</p>
                  </mat-card-content>
                </mat-card>
              </div>
            </div>
            <!-- Setas de Navegação -->
            <button class="carousel-button left" (click)="moveLeft()">&#10094;</button>
            <button class="carousel-button right" (click)="moveRight()">&#10095;</button>
          </div>

          <div *ngIf="anunciosComprados.length == 0">
            <mat-grid-list cols="12" rowHeight="50px">
              <mat-grid-tile colspan="12">
                <h2> Nenhum produto adquirido ainda </h2>
              </mat-grid-tile>
            </mat-grid-list>

          </div>
          <br><br>

    </div>





  </mat-card>
</div>

