<mat-sidenav-container class="example-container" autosize *ngIf="showSidenav">
	<mat-sidenav #sidenav class="example-sidenav" mode="side" opened="true" (mouseenter)="mouseenter()" (mouseleave)="mouseleave()">
		<mat-nav-list>

      <span class="perfil" *ngIf="isExpanded || isShowing">
        <mat-card class="profile-card">
          <div class="image-container">
            <img [src]="retornaFoto(user.foto_de_perfil)" alt="Foto do usuário" class="profile-image"/>
          </div>
          <div class="profile-details">
            <h2 class="profile-name">{{user.nome}}</h2>
            <p class="profile-name">{{rating}}</p>
            <div class="star-rating">
              <mat-icon *ngFor="let star of stars; let i = index">
                star
              </mat-icon>
            </div>
          </div>
        </mat-card>
        <br><br>
      </span>

      <!--HOME-->
			<mat-list-item (click)="showSubmenu = !showSubmenu" class="parent" routerLink="/home">
        <mat-icon mat-list-icon class="ajusteTexto">home</mat-icon>
				<span *ngIf="isExpanded || isShowing">&nbsp;&nbsp;Home</span>
			</mat-list-item>

      <!--MEUS ANÚNCIOS-->
      <mat-list-item (click)="showSubmenu = !showSubmenu" class="parent" routerLink="/meusAnuncios">
        <mat-icon mat-list-icon class="ajusteTexto">ads_click</mat-icon>
				<span class="full-width" *ngIf="isExpanded || isShowing">&nbsp;&nbsp;Meus anuncios</span>
			</mat-list-item>

      <!--MEU PERFIL-->
      <mat-list-item (click)="showSubmenu = !showSubmenu" class="parent" routerLink="/perfil">
        <mat-icon mat-list-icon class="ajusteTexto">account_circle</mat-icon>
				<span class="full-width" *ngIf="isExpanded || isShowing">&nbsp;&nbsp;Meu perfil</span>
			</mat-list-item>

      <div *ngIf="admin">

        <mat-list-item (click)="showSubmenu = !showSubmenu" class="parent" routerLink="/localizacao">
          <mat-icon mat-list-icon class="ajusteTexto">settings</mat-icon> <!--mudar icone depois-->
          <span class="full-width" *ngIf="isExpanded || isShowing">&nbsp;&nbsp;Cadastrar Localização</span>
        </mat-list-item>

        <mat-list-item (click)="showSubmenu = !showSubmenu" class="parent" routerLink="/categoria">
          <mat-icon mat-list-icon class="ajusteTexto">settings</mat-icon>
          <span class="full-width" *ngIf="isExpanded || isShowing">&nbsp;&nbsp;Cadastrar Categoria</span>
        </mat-list-item>

        <mat-list-item (click)="showSubmenu = !showSubmenu" class="parent" routerLink="/controleUsuarios">
          <mat-icon mat-list-icon class="ajusteTexto">settings</mat-icon>
          <span class="full-width" *ngIf="isExpanded || isShowing">&nbsp;&nbsp;Gerenciar Usuários</span>
        </mat-list-item>

      </div>

      <!--MEU PERFIL (CARD)-->
       <!--

      -->

      <!--SAIR-->
      <mat-list-item (click)="showSubmenu = !showSubmenu" class="parent" (click)="logoff()">
        <mat-icon mat-list-icon class="ajusteTexto">logout</mat-icon>
				<span class="full-width" *ngIf="isExpanded || isShowing" (click)="logoff()">&nbsp;&nbsp;Sair</span>
			</mat-list-item>

      <!--ESPAÇO-->
      <div *ngIf="!isExpanded && !isShowing" style="height:50px"> </div>

    </mat-nav-list>
  </mat-sidenav>

  <div>
		<router-outlet />
	</div>

</mat-sidenav-container>

<div *ngIf="!showSidenav">
  <router-outlet />
</div>
