<mat-grid-list cols="12" rowHeight="80px" gutterSize="20px">
  <mat-grid-tile colspan="12">
    <h1 class="title">Balcão UFF</h1>
  </mat-grid-tile>
</mat-grid-list>

<!-- não sei para que este botão serve -->
<button class="bt" (click)="adicionaImagem()">add imagem</button>

<mat-grid-list cols="12" rowHeight="600px" gutterSize="20px">
<div *ngFor="let item of anuncios">

    <mat-grid-tile [colspan]='coluna'>
      <mat-card class="example-card" appearance="outlined">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image" (click)="abrePerfil()"></div>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu" (click)="abreAnuncio()">
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button class="bt-like">LIKE</button>
          <button class="bt-share">SHARE</button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile [colspan]='coluna'>
      <mat-card class="example-card" appearance="outlined">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image" (click)="abrePerfil()"></div>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu" (click)="abreAnuncio()">
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button class="bt-like">LIKE</button>
          <button class="bt-share">SHARE</button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>

    
</div>
</mat-grid-list>


